@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

/* ----- botón logout ----- */
.logout-button {
  padding: 10px 20px;
  background-color: #2F2F2F; /* gris oscuro consistente */
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #1E1E1E;
}

.logout-button:active {
  background-color: #000000;
}
