@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

.logout-button {
  background-color: #DC3545; /* rojo alerta */
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #C82333;
}
