/* ----- paginación general ----- */
.pagination{
  display:flex;flex-wrap:wrap;gap:.4rem;
  justify-content:center;align-items:center;
  margin:1.1rem 0;
}
.pagination button,
.pagination select{
  padding:.35rem .75rem;
  border:1px solid #ccc;
  background:#fafafa;
  color:#39324B;
  min-width:45px;
  font-size:.85rem;
  cursor:pointer;
}
.pagination button:hover:not([disabled]),
.pagination select:hover{background:#f0f0f0;}
.pagination button[disabled]{opacity:.5;cursor:default;}
.pagination .active{font-weight:bold;border-bottom:2px solid #7A5EF8;}
.dots{margin:0 .25rem;}
