.grafica-kpi-container {
  padding: 20px;
}

.grafica-kpi-filtros {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.grafica-kpi-filtros input,
.grafica-kpi-filtros select,
.grafica-kpi-filtros button {
  padding: 5px 10px;
  font-size: 1rem;
}
