@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  background-color: #D1D3CF;
  color: #39324B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
